{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Projects</title>
        <section class="project-area">
            <center>
            <font size="6">
                  
<p>PROJECTS</p>
  
            </font>
                <div id="project" class="project-item">
                    <h2>PROJECT 1 NAME</h2>
                      
<p>Description for the first project. </p>
  
                </div>
                <div id="project" class="project-item">
                    <h2>PROJECT 2 NAME </h2>
                      
<p>Description for the second Project. </p>
  
                </div>
            </div>
            </center>
        </section>